.search-container {
    float: right;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    margin-top: 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-container button {
    float: right;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  